<div class="row">
  <div class="col s4">
    <p>
      <span>Namespace : </span>
      {{ namespace }}

      <button
        class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
        (click)="jsonFileExpNS(namespace)"
        tooltip="Export namespace"
        placement="top"
        show-delay="100"
        [disabled]="generatingKeys"
      >
        <i class="material-icons">file_download</i>
      </button>
      <a
        class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
        (click)="showKeyForm()"
        tooltip="Add new Key"
        placement="top"
        show-delay="100"
      >
        <i class="material-icons">add</i>
      </a>
    </p>

    <div class="divider"></div>
    <div *ngIf="generatingKeys">
      Generating {{ namespace }} json file.<br />
      {{ keysLoadProgress }} of {{ keysList.length }} keys loaded.
      <div class="progress">
        <div class="determinate" [style.width]="keysLoadPercent + '%'"></div>
      </div>
    </div>

    <div class="progress" *ngIf="deletingKey && !keyDeleted">
      <div class="indeterminate"></div>
    </div>

    <div class="progress" *ngIf="addingKey">
      <div class="indeterminate"></div>
    </div>

    <app-error [errorObj]="errorObj" *ngIf="errorExists"></app-error>

    <form
      *ngIf="showForm"
      #NewKeyForm="ngForm"
      (ngSubmit)="addNewKey(namespace, NewKeyForm.value)"
    >
      <div class="input-field col s8">
        <input
          id="email"
          type="text"
          class="validate"
          required
          ngModel
          name="key"
          #key="ngModel"
        />
        <label for="email">Key</label>
      </div>
      <div class="col s4">
        <button
          class="waves-effect waves-light btn"
          style="margin-top: 1rem"
          [disabled]="!NewKeyForm.valid"
        >
          add key
        </button>
      </div>
    </form>

    <table
      class="table table-borderless"
      *ngIf="loadedKeys.length >= 1 && !loadingKeys"
    >
      <tr
        *ngFor="
          let key of loadedKeys | paginate: { itemsPerPage: 5, currentPage: pg }
        "
      >
        <td
          class="truncate"
          (click)="fetchValueObject(namespace, key)"
          style="cursor:pointer;"
        >
          <!--<button class="btn-flat" (click)="fetchValueObject(namespace, key)">-->
          {{ key }}
          <!-- </button> -->
        </td>
        <td>
          <button
            class="waves-effect waves-white btn-flat grey-text text-lighten-3 del-btn"
            (click)="deleteKey(namespace, key, loadedKeys.length)"
          >
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    </table>

    <pagination-controls (pageChange)="pg = $event"></pagination-controls>

    <div
      *ngIf="loadedKeys.length === 1 && !loadingKeys"
      class="alert-div #fafafa grey lighten-5"
    >
      <p class="center-align red-text">
        Deleting the only key in the namespace will delete the namespace as well
      </p>
    </div>

    <div class="progress" *ngIf="loadingKeys">
      <div class="indeterminate"></div>
    </div>
  </div>

  <div class="col s8">
    <router-outlet></router-outlet>
  </div>
</div>

<a a id="downloadAnchorElem" style="display:none"></a>
