<div class="row">
  <div class="col s4">
    <form
      #NameSpaceForm="ngForm"
      (ngSubmit)="addNewNameSpaceAndKey(NameSpaceForm.value)"
      class="form-container"
    >
      <p ng-bind="namespace"><span>Namespace : </span>{{ nsbind }}</p>

      <div class="divider"></div>

      <app-error *ngIf="errorExists" [errorObj]="errorObj"></app-error>

      <div class="progress" *ngIf="creatingNspace">
        <div class="indeterminate"></div>
      </div>

      <div class="input-field col s12">
        <input
          id="namespacef"
          type="text"
          class="validate"
          required
          ngModel
          [(ngModel)]="nsbind"
          name="namespace"
          #namespace="ngModel"
        />
        <label for="namespacef">Your Namespace</label>
      </div>

      <div class="input-field col s12">
        <input
          id="keyform"
          type="text"
          class="validate"
          required
          ngModel
          [disabled]="generatingId"
          [(ngModel)]="idStr"
          name="key"
          #key="ngModel"
        />
        <label for="keyform">Your Key</label>
      </div>
      <div class="col s12">
        <div class="progress" *ngIf="generatingId">
          <div class="indeterminate"></div>
        </div>
      </div>

      <div class="col s12">
        <button
          class="waves-effect waves-light btn-small"
          [disabled]="generatingId"
          (click)="generateRID()"
        >
          generate key
        </button>
      </div>

      <div class="col s12" style="margin-top: 2rem;">
        <button
          type="submit"
          class="waves-effect waves-light btn-small"
          [disabled]="!NameSpaceForm.valid"
        >
          <i class="material-icons left">save</i>save
        </button>
      </div>

      <div *ngIf="nsExists" class="col s12 alert-div #fafafa grey lighten-5">
        <p class="red-text">Namespace Exists, change it before saving</p>
      </div>
    </form>
  </div>

  <div class="col s8">
    <p><span>Key : </span>{{ kbind }}</p>

    <div class="divider"></div>

    <form *ngIf="!savingNsKey && savedNsKey">
      <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Textarea</label>
      </div>

      <a class="waves-effect waves-light btn-small">
        <i class="material-icons left">save</i>save
      </a>
    </form>
    <div class="progress" *ngIf="!savedNsKey && savingNsKey">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
