<div class="input-field col s12">
  <input id="nspace" type="text" class="validate" [(ngModel)]="namespace" />
  <label for="nspace">NameSpace Search</label>
</div>

<a
  routerLink="/new"
  class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
  style="margin-top:1rem;margin-bottom: 1rem;"
>
  <i class="material-icons">add</i></a
>

<a
  routerLink="/import"
  class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
  style="margin-top:1rem;margin-bottom: 1rem;"
>
  <i class="material-icons">file_upload</i></a
>

<button
  class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
  style="margin-top:1rem;margin-bottom: 1rem;"
  (click)="exportSelectedNS()"
  [disabled]="nameSpacesToExport.length == 0"
>
  <i class="material-icons">file_download</i></button
>

<div class="col s12">
  <div class="progress" *ngIf="fetchingNameSpaces || deletingNspace">
    <div class="indeterminate"></div>
  </div>
</div>

<div class="col s12" *ngIf="loadingValsObj">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    Fething keys<br/>
    {{valuesLoaded}} of {{numberOfKeys}} ready
  </div>

<table
  class="table table-borderless"
  *ngIf="loadedNameSpaces.length >= 1 && !fetchingNameSpaces"
>
  <tr
    *ngFor="
      let namespace of loadedNameSpaces
        | filterBy: namespace
        | paginate: { id: 'ns', itemsPerPage: 5, currentPage: p }
    "
    class="t-row"
    id="{{ namespace }}"
  >
    <td class="t-d">
      <p>
        <label>
          <input type="checkbox" (click)="pushNS(namespace)"/>
          <span
            style="width: 0px;
              padding-left:8px;
              height: 15px;
              line-height: 15px;"
          ></span>
        </label>
      </p>
    </td>
    <td (click)="loadSingleNS(namespace)" class="t-data t-d">
      <!--<button class="btn-flat" (click)="loadSingleNS(namespace)"> -->
      {{ namespace }}
      <!-- </button> -->
    </td>
    <td class="t-d">
      <button
        class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 btn-hidden"
        (click)="deleteNamespace(namespace)"
      >
        <i class="material-icons">delete</i>
      </button>
    </td>
  </tr>
</table>

<pagination-controls id="ns" (pageChange)="p = $event"></pagination-controls>
