.form-popup {
  display: none;
  position: fixed;
  top: 10vh;
  right: 25vw;
  height: 40vh;
  width: 50vw;
  border: 3px solid #f1f1f1;
  z-index: 9;
  padding-top: 10px;
  text-align: center;
}

/* Add styles to the form container */
.form-container {
  display: inline-block;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
