.form-popup {
  display: none;
  position: fixed;
  top: 10vh;
  right: 25vw;
  height: 40vh;
  width: 50vw;
  border: 3px solid #f1f1f1;
  z-index: 9;
  padding-top: 10px;
  text-align: center;
}

/* Add styles to the form container */
.form-container {
  display: inline-block;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.btn-hidden{
  display: none;
}

.t-row :hover .btn-hidden{
  display: block;
}

.t-data:hover{
 cursor: pointer; 
}

.t-d{
  padding: 4px !important;
  margin: 4px !important
}

.mx{
  margin-left: 2px;
  margin-right: 2px;
}