<div class="input-field col s12">
  <input id="nspace" type="text" class="validate" />
  <label for="nspace">NameSpace Search</label>
</div>

  <a
    routerLink="/new"
    class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
    style="margin-top:1rem;margin-bottom: 1rem;"
  >
    <i class="material-icons">add</i></a
  >


  <a
    class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx"
    style="margin-top:1rem;margin-bottom: 1rem;"
  >
    <i class="material-icons">file_upload</i></a
  >


  <a
    class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 mx tooltipped"
    style="margin-top:1rem;margin-bottom: 1rem;"
    data-position="bottom" 
    data-tooltip="I am a tooltip"
  >
    <i class="material-icons">file_download</i></a
  >

        
<div class="col s12">
  <div class="progress" *ngIf="fetchingNameSpaces">
    <div class="indeterminate"></div>
  </div>
</div>

<table
  class="table table-borderless"
  *ngIf="loadedNameSpaces.length >= 1 && !fetchingNameSpaces"
>
  <tr *ngFor="let namespace of loadedNameSpaces" class="t-row">
    <td (click)="loadSingleNS(namespace)" class="t-data">
      <!--<button class="btn-flat" (click)="loadSingleNS(namespace)"> -->
        {{ namespace }}
      <!-- </button> -->
    </td>
    <td>
      <button
        class="btn-floating btn-small waves-effect waves-light #004d40 teal darken-4 btn-hidden"
        (click)="deleteNamespace(namespace)"
      >
        <i class="material-icons">delete</i>
      </button>
    </td>
  </tr>
</table>
