.row {
  padding: 0px;
  margin: 0px;
}
.ds-ns-list {
  border-right: 1px solid grey;
  min-height: 90vh;
}

.py {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px {
  padding-left: 8px;
  padding-right: 8px;
}

.outlet {
  min-height: 85vh;
}

* {
  font-size: 0.8rem;
}

.application-container {
  position: relative;
}

.namespace-container {
position: fixed;
top: 50px;
bottom: 0;

width: 300px;
background-color: #F2F5F7;
border-right: 1px solid #d5dde5;

}

.content-container {
  margin-left: 300px;
}
