<div class="row">
  <div class="col s12">
    <p>Import</p>
    <div class="divider"></div>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <form>
      <div class="file-field input-field">
        <div class="btn btn-small #01579b light-blue darken-3">
          <span>File</span>
          <input
            type="file"
            (change)="onFileSelect($event.target)"
            [disabled]="importingValues"
          />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text" />
        </div>
      </div>
    </form>
  </div>
</div>

<app-error *ngIf="errorExists" [errorObj]="errorObj"></app-error>

<div class="row" *ngIf="importingValues">
  <div>
    <p style="text-align: center;">Importing Values</p>
    <div
      class="progress #e3f2fd blue lighten-5"
      style="width: 30rem;margin-left: auto;margin-right: auto;"
    >
      <div
        class="determinate #01579b light-blue darken-3"
        [style.width]="importProgress + '%'"
      ></div>
    </div>
    <p style="text-align: center;">{{ importProgress }}%</p>
  </div>
</div>

<div *ngIf="!importingValues && importDone" class="divider"></div>

<div class="col s4" *ngIf="!importingValues && importDone">
  <table>
    <thead>
      <th>Imported Namespaces</th>
    </thead>
    <tbody>
      <tr *ngFor="let namespace of namespacesArray">
        <td (click)="loadNamespace(namespace)" style="cursor: pointer;">
          {{ namespace }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  id="importSummary"
  style="background-color:#fff; height: 80vh; width: 80vw; z-index: 999;position: absolute; top:10vh; right:10vw; padding-top: 10px;"
  class="row z-depth-3"
  *ngIf="!importingValues && importDone"
>
  <div class="row">
    <button
      class="btn-floating btn-small waves-effect waves-light #01579b light-blue darken-3"
      style="margin-right: 15px"
      (click)="closeSummary()"
      tooltip="Close Summary"
      placement="top"
      show-delay="100"
    >
      <i class="material-icons">clear</i>
    </button>
  </div>
  <div class="col s3">
    <table>
      <tr>
        <th>IMPORT SUMMARY</th>
      </tr>
      <tr>
        <th>Namespaces found :</th>
        <td>{{ numberOfNamesFound }}</td>
      </tr>
      <tr>
        <th>Keys Found :</th>
        <td>{{ numberOfKeysFound }}</td>
      </tr>
      <tr>
        <th>Succesful Key Imports :</th>
        <td>{{ succesfulImportsArray.length }}</td>
      </tr>
      <tr>
        <th>Failed Key Imports :</th>
        <td>{{ failedImportsArray.length }}</td>
      </tr>
    </table>
  </div>
  <div class="col s4" style="height:65vh;overflow: auto;">
    <table>
      <tr>
        <th>
          Succesful Key Imports:
          {{ succesfulImportsArray.length }}
        </th>
      </tr>
      <tr *ngFor="let importedKey of succesfulImportsArray">
        <td>{{ importedKey }}</td>
      </tr>
    </table>
  </div>
  <div class="col s4" style="height:65vh;overflow: auto;">
    <table>
      <tr>
        <th>Failed Key Imports: {{ failedImportsArray.length }}</th>
      </tr>
      <tr *ngFor="let failedKey of failedImportsArray">
        <td>{{ failedKey }}</td>
      </tr>
    </table>
  </div>
</div>
