
    <p>
      {{ key }}
 
    <button class="btn-flat mx" (click)="updateValue(key)">
      &nbsp; <i class="material-icons">save</i> &nbsp;
    </button>
    </p>

<div class="divider"></div>

<span class="red-text" *ngIf="jsonError">The Json in invalid</span>
<span class="green-text" *ngIf="updSuccess">value updated succesfully</span>

<div class="progress" *ngIf="loadingValue && !valueLoaded">
  <div class="indeterminate"></div>
</div>

<div class="row">
  <div class="col s12">
    <br />
    <ace-editor
      class="z-depth-1"
      [(text)]="code"
      mode="json"
      style="height:60vh;"
      *ngIf="!loadingValue && valueLoaded"
    ></ace-editor>
  </div>

  <!--<div class="col s12" style="height:60vh;" *ngIf="!valMode">
    <ngx-json-viewer
      class="editor z-depth-1"
      [json]="loadedValue"
      [expanded]="false"
      *ngIf="!loadingValue && valueLoaded"
    ></ngx-json-viewer>
  </div>-->
</div>
